<<<<<<< HEAD
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
h1{
    color: #2F9BCA;
    margin-left: 20px;
}
=======

body{
    background-color: #FCECC1;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
h1{
    color: #F28888;
    margin-left: 20px;
}
>>>>>>> annyeong-with-images
p{
    color: #444444;
    margin-left: 20px;
}
<<<<<<< HEAD 

=======
>>>>>>> annyeong-with-images